* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.body {
  background-color: red;
}

.text {
  color: white;
}

.dark-mode {
  background-color: black;
}
.dark-mode h1 {
  color: white;
}

/* .dark-mode p {
color: green;
} */

.dark-mode .card-title {
  color: blue;
}
